body {
}

.subheader {
	width: 100%;
	background: #0e77af;
	height: 40px;
	// .subheader__container

	&__container {
		align-items: center;
		width: 80%;
		margin: 0 auto;
		display: flex;
		padding: 9px 0px;
		justify-content: space-between;
	}

	.container {
		// .container__logos

		&__logos {
			display: flex;
			width: 100px;
			justify-content: space-between;
		}

		// .container__mail

		&__mail {
			color: #fff;
			font-family: Asap;
			font-weight: 400;
		}
	}
	.logos {
		// .logos__item

		&__item {
		}
	}
}

.header {
	position: relative;
	top: 25px;
	width: 85%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	// .header__logo

	&__logo {
	}

	// .header__content

	&__content {
		display: flex;
		width: 950px;
		justify-content: space-between;
		align-items: center;
	}

.content {
	// .content__menu

	&__menu {
		display: flex;
		width: 629px;
		justify-content: space-between;
		text-transform: uppercase;
	}

	// .content__telephone

	&__telephone {
		display: flex;
		width: 230px;
		justify-content: space-between;
	}
}
.menu {
	// .menu__item

	&__item {
		font-family: Asap;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 16px;
		&:hover {
			font-weight: 800;
		}
	}
}
.telephone {
	// .telephone__logo

	&__logo {
		height: 30px;
	}

	// .telephone__contacs

	&__contacs {
		display: flex;
		flex-direction: column;
		height: 30px;
		justify-content: space-between;
	}
}
.contacs {
	// .contacs__title

	&__title {
		font-family: Asap;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 16px;
		color: #7d7d7d;
	}

	// .contacs__text

	&__text {
		font-family: Asap;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px;
}
}
}